
@font-face {
    font-family: 'proxima_novaregular';
    src: url('fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('fonts/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_altbold';
    src: url('fonts/proxima_nova_alt_bold-webfont.woff2') format('woff2'),
         url('fonts/proxima_nova_alt_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_altlight';
    src: url('fonts/proxima_nova_alt_light-webfont.woff2') format('woff2'),
         url('fonts/proxima_nova_alt_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_altthin';
    src: url('fonts/proxima_nova_alt_thin-webfont.woff2') format('woff2'),
         url('fonts/proxima_nova_alt_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novablack';
    src: url('fonts/proxima_nova_black-webfont.woff2') format('woff2'),
         url('fonts/proxima_nova_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novabold';
    src: url('fonts/proxima_nova_bold-webfont.woff2') format('woff2'),
         url('fonts/proxima_nova_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novaextrabold';
    src: url('fonts/proxima_nova_extrabold-webfont.woff2') format('woff2'),
         url('fonts/proxima_nova_extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novathin';
    src: url('fonts/proxima_nova_thin-webfont.woff2') format('woff2'),
         url('fonts/proxima_nova_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}