@import '~antd/dist/antd.css';

@font-face {
    font-family: 'proxima_novaregular';
    src: url('fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('fonts/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novabold';
    src: url('fonts/proxima_nova_bold-webfont.woff2') format('woff2'),
         url('fonts/proxima_nova_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html, body {
    height: 100%;
    margin: 0;
    counter-reset: counterLeft counterRight counterOriginal counterChanged;
  }

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    text-align: center;
    font-family: 'proxima_novaregular', Arial, Helvetica, sans-serif;
    flex: 1;
}

.header {
    display: flex;
    padding-top: 20px;
    margin-left: 5%;
}

.headerText {
    font-size: 20px;
    text-align: left;
    font-family: 'proxima_novabold';
}

.logo {
    height: 30px;
}

.diffInputs {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    align-content: center;
    text-align: center;
}

.numberedInputs {
    margin-left: 5%;
    margin-right: 5%;
    align-content: center;
    text-align: center;
}

.diffInputHeader {
    text-align: center;
    padding: 10px 10px 10px 10px;
    position: sticky;
    font-size: 16px;
}

.diffInput {
    height: 200px;
    width: 100%;
    position: relative;
}

.diffInputText {
    padding: 4px 10px;
    padding-left: 30px;
    width: 100%;
    min-height: 100%;
    caret-color: black;
    overflow: scroll;
    font-size: 14px;
    resize: none;
    border: none;
    outline: none;
    font-family: monospace, 'Roboto Mono';
}

.left {
    border-left: 1px solid rgb(196, 207, 212);
    border-right: 1px solid rgb(196, 207, 212);
    border-top: 1px solid rgb(196, 207, 212);
    border-bottom: 1px solid rgb(196, 207, 212);
}

.right {
    border-right: 1px solid rgb(196, 207, 212);
    border-top: 1px solid rgb(196, 207, 212);
    border-bottom: 1px solid rgb(196, 207, 212);
}

.compareButton {
    margin: 10px auto;
    bottom: -45px;
}

.diffOutputs {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    clear: both;
}

.output {
    font-size: 14px;
    margin-top: 20px;
    text-align: left;
    padding: 4px 10px;
    width: 100%;
    min-height: 70%;
    overflow: scroll;
    font-family: monospace, 'Roboto Mono';
    height: 200px;
    white-space: pre-wrap;
}

.outputLeft {
    border-left: 1px solid rgb(196, 207, 212);
    border-right: 1px solid rgb(196, 207, 212);
    border-top: 1px solid rgb(196, 207, 212);
    border-bottom: 1px solid rgb(196, 207, 212);
}

.outputRight {
    border-right: 1px solid rgb(196, 207, 212);
    border-top: 1px solid rgb(196, 207, 212);
    border-bottom: 1px solid rgb(196, 207, 212);
}

.linesContainer {
    position: absolute;
    pointer-events: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-right: 10px;
    overflow: scroll;
    width: 100%;
    opacity: 0.5;
}

.numberedLineLeft {
    position: relative;
    padding-left: 20px;
}

.numberedLineLeft::before {
    position: absolute;
    left: 0;
    counter-increment: counterLeft;                
    content: counter(counterLeft) " ";
    color: rgb(196, 207, 212);
    display: block;
    padding: 0 10px 10px 0;
}

.numberedLineRight{
    padding-left: 20px;
    position: relative;
}

.numberedOriginal {
    position: relative;
    display: block;
    color: blue;
    text-align: left;
    padding-left: 30px;
    font-family: monospace, 'Roboto Mono';
    width: 100%;
    min-height: 100%;
    overflow: scroll;
    font-size: 14px;
    white-space: pre-wrap;
}

.numberedOriginal::before {
    counter-increment: counterOriginal;
    content: counter(counterOriginal) " ";
    color: rgb(196, 207, 212);
    position: absolute;
    left: 0;
    display: block;
    padding: 0 10px 10px 0;
    overflow: scroll;
    margin-left: 10px;
}

.numberedChanged::before {
    counter-increment: counterChanged;
    content: counter(counterChanged) " ";
    color: rgb(196, 207, 212);
    position: absolute;
    left: 0;
    display: block;
    padding: 0 10px 10px 0;
    overflow: scroll;
    margin-left: 10px;
}

.numberedLineRight::before {
    counter-increment: counterRight;                
    content: counter(counterRight) " ";
    display: block;
    color: rgb(196, 207, 212);
    position: absolute;
    left: 0;
}

.numberedChanged {
    position: relative;
    display: block;
    color: red;
    text-align: left;
    padding-left: 30px;
    font-family: monospace, 'Roboto Mono';
    width: 100%;
    min-height: 100%;
    overflow: scroll;
    font-size: 14px;
    white-space: pre-line;
}

.clearButton {
    margin: 10px auto;
    display: inline-block;
    clear: both;
}

.swapButton {
    margin: 10px auto;
    display: inline-block;
    clear: both;
    font-size: 18px;
    padding-left: 10px;
}

.footer {
    width: 80%;
    margin-left: 10%; 
    margin-bottom: 2%;
    display: flex;
}

.githubButton {
    margin-top: 13px;
}

.footerText {
    text-align: left;
    margin-left: 20px;
}