.header {
    padding-top: 20px;
    font-size: 18px;
    margin-left: 5%;
}

.diffInputs {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    align-content: center;
}

.diffInputHeader {
    text-align: center;
    /* border-bottom: 1px solid rgb(196, 207, 212); */
    padding: 10px 10px 10px;
    position: sticky;
}

.diffInput {
    height: 200px;
    width: 100%;
}

.diffInputText {
    padding: 4px 10px;
    width: 96%;
    min-height: 50%;
    caret-color: black;
    overflow: scroll;
    font-size: 12px;
    border: 1px solid rgb(196, 207, 212);
    resize: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
}

.diffInputText2 {
    padding: 4px 10px;
    width: 94%;
    min-height: 50%;
    caret-color: black;
    overflow: scroll;
    font-size: 12px;
    border: 1px solid rgb(196, 207, 212);
    resize: none;
}
.compareButton {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}